<a href="https://identity.zurich-expats.ch" class="crayons-btn" aria-label="<%= t("core.create_account") %>" data-no-instant> 
 <%= t("core.create_account") %>
</a>
<a href="<%= sign_up_path %>" class="crayons-btn crayons-btn--ghost-brand" aria-label="<%= t("views.auth.login.aria_label") %>">
  <%= t("views.auth.login.text") %>
</a>
